body {
    font-size: 20px;
    color: rgba(8, 6, 92, 0.733);

    
}

#title {
    font-size: 30px;
    font-style: bold;
    font-family: 'Yatra One', cursive;

}

#randNumb {

    font-size: 30px;
    border-style: solid;
    padding-left: 110px;
    

}

#green, #red, #yellow, #blue {
    height: 200px;
    width: 200px;
}

#words, #totalScore {
    font-family: 'Yatra One', cursive;
}
