body {
    font-size: 20px;
    color: rgba(8, 6, 92, 0.733);

}


#red, #yellow, #blue, #green {
    height: 125px;
    width: 125px;
    margin-left: 50px;
}


#inst, #totalScore, .jumbotron, h3, p {
    font-family: 'Yatra One', cursive;
}
